<h1>Editing Data</h1>
<br/>
<%= render 'form', vcmk: @vcmk %>

<br/>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <%= link_to 'Show', @vcmk, class:"btn btn-info" %>
    <%= link_to 'Dlelete', @vcmk, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', vcmks_path, class:"btn btn-dark" %>
</div>
